[tool.poetry]
name = "AgamPrimer"
version = "0.5.7"
description = "A package to design primers in Anopheles gambiae whilst considering genetic variation with malariagen_data"
authors = [
    "Sanjay Nagi <sanjay.nagi@lstmed.ac.uk>",
    ]
packages = [
    { include = "AgamPrimer" }
]
license = "MIT"

[tool.poetry.dependencies]
python = ">=3.7.1,<3.10"
primer3-py = "*"
malariagen_data = "*"
openpyxl = "*"
gget = "*"
seaborn = "*"
kaleido = "0.2.1"

[tool.poetry.dev-dependencies]
pre-commit = "*"
black = "*"
pytest = "*"
notebook = "*"
jupyterlab = "*"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.isort]
profile = "black"
